<a href="https://colab.research.google.com/github/PaolaFerrete/Mortality-Sao-Paulo/blob/main/causas_espec%C3%ADficas_para_os_anos_1996%2C_2006%2C_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Incidências das cinco principais causa de morte no município de São Paulo para os anos de 1996**

## **Importar Bibliotecas e Dados**

In [1]:
#importar bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Conectar com Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Informações referente ao arquivo Total_Causas_Espcificas_1996_xlsx**

**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 1996**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [ ]:
#importar arquivo xlsx: Banco de dados de 1996
Causas_esp_1996 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_1996_xlsx.xlsx')
Causas_esp_1996 #backup

In [ ]:
#importar arquivo xlsx: Banco de dados de 2006
Causas_esp_2006 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_2006_xlsx.xlsx')
Causas_esp_2006 #backup

In [ ]:
#importar arquivo xlsx: Banco de Dados de 2016
Causas_esp_2016 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_2016_xlxs.xlsx')
Causas_esp_2016 #backup

In [6]:
#Copiar DataFrame
CE_1996 = Causas_esp_1996 #backup do df
CE_2006 = Causas_esp_2006
CE_2016 = Causas_esp_2016

## **Manipulação dos Dados**

In [7]:
#Apagar linhas desnecessárias
CE_1996 = CE_1996.drop([0,1,2,68,69,70,71,72,73,74,75])
CE_2006 = CE_2006.drop([0,1,2,68,69,70,71,72,73,74,75])
CE_2016 = CE_2016.drop([0,1,2,68,69,70,71,72,73,74,75])

In [8]:
CE_1996['Ano'] = 1996
CE_2006['Ano'] = 2006
CE_2016['Ano'] = 2016

In [9]:
#Concatenando os dados em um único dataFrame
Causa_especifica = pd.concat([CE_1996, CE_2006, CE_2016])

In [10]:
Causa_especifica.shape

(195, 6)

In [11]:
#Renomear Colunas
Causa_especifica.set_axis(['Mortalidade_Geral', 'Masculino', 'Feminino', 'Ignorado', 'Total', 'Ano'],
                 axis='columns', inplace=True)
#Renumerar Index
Causa_especifica.index = np.arange(195)
Causa_especifica

               Mortalidade_Geral Masculino Feminino Ignorado Total   Ano
0           Doencas infec intest       166      124        -   290  1996
1                    Tuberculose       478      170        -   648  1996
2            Infec menigocóccica        58       51        1   110  1996
3                     Septicemia       194      185        -   379  1996
4                           Aids      2051      721        -  2772  1996
..                           ...       ...      ...      ...   ...   ...
190             Demais acidentes       755      331        -  1086  2016
191                    Suicídios       365       96        -   461  2016
192                   Homicídios      1010      104        -  1114  2016
193  Lesões intenc indeterminada       418      103        1   522  2016
194       Demais causas externas       274       76        -   350  2016

[195 rows x 6 columns]

In [12]:
#Conferindo o tipo dos dados
Causa_especifica.dtypes

Mortalidade_Geral    object
Masculino            object
Feminino             object
Ignorado             object
Total                object
Ano                   int64
dtype: object

In [13]:
#Substituir os valores '-' por 0
Causa_especifica = Causa_especifica.replace('-',0)
print(Causa_especifica)

               Mortalidade_Geral  Masculino  Feminino  Ignorado  Total   Ano
0           Doencas infec intest        166       124         0    290  1996
1                    Tuberculose        478       170         0    648  1996
2            Infec menigocóccica         58        51         1    110  1996
3                     Septicemia        194       185         0    379  1996
4                           Aids       2051       721         0   2772  1996
..                           ...        ...       ...       ...    ...   ...
190             Demais acidentes        755       331         0   1086  2016
191                    Suicídios        365        96         0    461  2016
192                   Homicídios       1010       104         0   1114  2016
193  Lesões intenc indeterminada        418       103         1    522  2016
194       Demais causas externas        274        76         0    350  2016

[195 rows x 6 columns]

In [14]:
#Alterar o tipo de dados para inteiro
for c in Causa_especifica:
  if c not in 'Mortalidade_Geral':
    Causa_especifica[c].astype('int64')
Causa_especifica.dtypes

Mortalidade_Geral    object
Masculino             int64
Feminino              int64
Ignorado              int64
Total                 int64
Ano                   int64
dtype: object

In [20]:
Causa_especifica.to_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Output/Causa_especifica.xlsx')

## **Filtro para consulta das 5 principais incidências de mortalidade para os anos de 1996, 2006 e 2016**

In [15]:
def Filtro(year, columns=False):
  '''description---------------------------------------------------------------
    Ordem(ano,columns)
    -> Função para analisar as 5 maiores incidências de mortalidade por 
      causa específica
      :ano: Ano a ser considerado
      :columns: valor opcional, caso não especificado retorna a coluna total
      :return: retorna um DataFrame com as 5 maiores incidências
      """
  ---------------------------------------------------------------------------'''    
  if columns == False:
    columns = 'Total'
  c = ['Masculino', 'Feminino', 'Total']
  a = year
  print(a)
  df_ano = Causa_especifica.loc[Causa_especifica['Ano'] == a] #filtra por ano
  for i, v in enumerate(c):
    if v == columns:
      df_v = pd.DataFrame(df_ano, columns=['Mortalidade_Geral', v]).sort_values(by=v, ascending=False) # seleção da coluna e ordenação       
      df_v = df_v.iloc[0:5] # selecionando apenas a 5 primeiras linhas
      df_v.index = np.arange(1,6) #renomerar index
      return df_v

In [16]:
Filtro(2006, 'Total')

2006

            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   8340
2        D. cerebrovasculares   5535
3                  Pneumonias   4523
4   Bronquite, enfisema, asma   2575
5                  Homicídios   2531

In [17]:
Filtro(1996, 'Total')

1996

            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   8316
2        D. cerebrovasculares   5627
3                  Homicídios   4855
4                  Pneumonias   3548
5                        Aids   2772

In [18]:
Filtro(2016, 'Total')

2016

            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   9607
2                  Pneumonias   6509
3        D. cerebrovasculares   5896
4   Bronquite, enfisema, asma   2827
5           Diabetes mellitus   2392