<a href="https://colab.research.google.com/github/PaolaFerrete/Mortality-Sao-Paulo/blob/main/Incidencia_1996.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Incidências das cinco principais causa de morte no município de São Paulo para os anos de 1996

In [2]:
#importar bibliotecas
import pandas as pd
import numpy as np

In [3]:
#Conectar com Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Informação Referente à Causas_esp_1996**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 1996**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [4]:
#importar arquivo xlsx: Banco de dados de 1996
Causas_esp_1996 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_1996_xlsx.xlsx')
Causas_esp_1996 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:1996  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        290
4                                         Tuberculose  ...        648
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

In [5]:
#Copiar DataFrame
CE_1996 = Causas_esp_1996

## **Manipulação dos Dados**

In [6]:
#Apagar linhas desnecessárias
CE_1996 = CE_1996.drop([0,1,2,68,69,70,71,72,73,74,75])

In [7]:
#Renomear Colunas
CE_1996.set_axis(['Mortalidade_Geral', 'Masculino', 'Feminino', 'Ignorado', 'Total'],
                 axis='columns', inplace=True)
#Renomear Index
CE_1996.index = np.arange(65)
CE_1996

              Mortalidade_Geral Masculino Feminino Ignorado Total
0          Doencas infec intest       166      124        -   290
1                   Tuberculose       478      170        -   648
2           Infec menigocóccica        58       51        1   110
3                    Septicemia       194      185        -   379
4                          Aids      2051      721        -  2772
..                          ...       ...      ...      ...   ...
60             Demais acidentes       391      129        1   521
61                    Suicídios       378      135        -   513
62                   Homicídios      4495      357        3  4855
63  Lesões intenc indeterminada       387       59        2   448
64       Demais causas externas        34       36        -    70

[65 rows x 5 columns]

In [8]:
#Conferindo o tipo dos dados
CE_1996.dtypes
#CE_1996.info()

Mortalidade_Geral    object
Masculino            object
Feminino             object
Ignorado             object
Total                object
dtype: object

In [9]:
#Substituir os valores '-' por 0
CE_1996 = CE_1996.replace('-',0)
print(CE_1996)

              Mortalidade_Geral  Masculino  Feminino  Ignorado  Total
0          Doencas infec intest        166       124         0    290
1                   Tuberculose        478       170         0    648
2           Infec menigocóccica         58        51         1    110
3                    Septicemia        194       185         0    379
4                          Aids       2051       721         0   2772
..                          ...        ...       ...       ...    ...
60             Demais acidentes        391       129         1    521
61                    Suicídios        378       135         0    513
62                   Homicídios       4495       357         3   4855
63  Lesões intenc indeterminada        387        59         2    448
64       Demais causas externas         34        36         0     70

[65 rows x 5 columns]

In [10]:
#Alterar o tipo de dados para inteiro
for i in CE_1996:
  if i not in 'Mortalidade_Geral':
    CE_1996[i].astype('int64')
CE_1996.dtypes

Mortalidade_Geral    object
Masculino             int64
Feminino              int64
Ignorado              int64
Total                 int64
dtype: object

In [11]:
#Descrição dos dados
CE_1996.describe()

         Masculino     Feminino   Ignorado        Total
count    65.000000    65.000000  65.000000    65.000000
mean    519.507692   348.830769   0.553846   868.892308
std     900.772691   601.997497   2.318612  1411.639717
min       0.000000     0.000000   0.000000    26.000000
25%      79.000000    86.000000   0.000000   251.000000
50%     218.000000   147.000000   0.000000   361.000000
75%     485.000000   311.000000   0.000000   648.000000
max    4729.000000  3587.000000  18.000000  8316.000000

In [12]:
#Separar os Totais
Total_CE = pd.DataFrame(CE_1996, columns=['Mortalidade_Geral','Total', 'Ano'])
Total_CE['Ano'] = 1996
Total_CE

              Mortalidade_Geral  Total   Ano
0          Doencas infec intest    290  1996
1                   Tuberculose    648  1996
2           Infec menigocóccica    110  1996
3                    Septicemia    379  1996
4                          Aids   2772  1996
..                          ...    ...   ...
60             Demais acidentes    521  1996
61                    Suicídios    513  1996
62                   Homicídios   4855  1996
63  Lesões intenc indeterminada    448  1996
64       Demais causas externas     70  1996

[65 rows x 3 columns]

In [13]:
def Ordem(df, columns='False'):
  """Ordem(df,columns)
    -> Função para analisar as 5 maiores incidências de mortalidade geral
      :df: DataFrame
      :columns: valor opcional, caso não especificado retorna o total
      :return: retorna um DataFrame com as 5 maiores incidências
      """
  if columns == 'Masculino':
    df_masc_ord = CE_1996.sort_values(by='Masculino', ascending=False) #ordenar inversamente os valores da coluna 'Masculino'
    df_masc_columns = pd.DataFrame(df_masc_ord, columns=['Mortalidade_Geral', 'Masculino', 'Total'],) #criar um DataFrame com as colunas de interesse
    df_masc_columns.index = np.arange(65) # renumerar o index
    df_masc_maior = df_masc_columns.iloc[0:5] # selecionando apenas a 5 primeiras linhas
    df_masc_maior.index = np.arange(1,6) #renomerar index
    return df_masc_maior
  elif columns == 'Feminino':
    df_fem_ord = CE_1996.sort_values(by='Feminino', ascending=False)
    df_fem_columns = pd.DataFrame(df_fem_ord, columns=['Mortalidade_Geral', 'Feminino', 'Total'],)
    df_fem_columns.index = np.arange(65)
    df_fem_maior = df_fem_columns.iloc[0:5]
    df_fem_maior.index = np.arange(1,6)
    return df_fem_maior
  elif columns == 'Ignorado':
    df_ign_ord = CE_1996.sort_values(by='Ignorado', ascending=False)
    df_ign_columns = pd.DataFrame(df_ign_ord, columns=['Mortalidade_Geral', 'Ignorado', 'Total'],)
    df_ign_columns.index = np.arange(65)
    df_ign_maior = df_ign_columns.iloc[0:5]
    df_ign_maior.index = np.arange(1,6)
    return df_ign_maior
  elif columns == 'Total':
    df_tot_ord = CE_1996.sort_values(by='Total', ascending=False)
    df_tot_columns = pd.DataFrame(df_tot_ord, columns=['Mortalidade_Geral', 'Total'])
    df_tot_columns.index = np.arange(65)
    df_tot_maior = df_tot_columns.iloc[0:5]
    df_tot_maior.index = np.arange(1,6)
    return df_tot_maior
  else:
    df_tot_ord = CE_1996.sort_values(by='Total', ascending=False)
    df_tot_columns = pd.DataFrame(df_tot_ord, columns=['Mortalidade_Geral', 'Total'])
    df_tot_columns.index = np.arange(65)
    df_tot_maior = df_tot_columns.iloc[0:5]
    df_tot_maior.index = np.arange(1,6)
    return df_tot_maior

In [14]:
#Chamar Def Ordem (As 5 incidências de maior valor)
Ordem(CE_1996, 'Feminino')

            Mortalidade_Geral  Feminino  Total
1  Doenças isquêmicas coração      3587   8316
2        D. cerebrovasculares      2788   5627
3                  Pneumonias      1635   3548
4           Diabetes mellitus      1218   2083
5   Bronquite, enfisema, asma      1048   2542

In [15]:
#Chamar Def Ordem (As 5 incidências de maior valor)
Ordem(CE_1996, 'Masculino')

            Mortalidade_Geral  Masculino  Total
1  Doenças isquêmicas coração       4729   8316
2                  Homicídios       4495   4855
3        D. cerebrovasculares       2839   5627
4                        Aids       2051   2772
5                  Pneumonias       1912   3548

In [16]:
#Chamar Def Ordem (As 5 incidências de maior valor)
Ordem(CE_1996, 'Total')

            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   8316
2        D. cerebrovasculares   5627
3                  Homicídios   4855
4                  Pneumonias   3548
5                        Aids   2772