<a href="https://colab.research.google.com/github/PaolaFerrete/Mortality_S-o-Paulo/blob/main/Incidencia_1996_2006_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#importar bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Conectar com Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Informação Referente à CE_1996**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

Período: 1996

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [118]:
#importar arquivo xlsx
Causas_esp_1996 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_1996_xlsx.xlsx')
Causas_esp_1996 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:1996  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        290
4                                         Tuberculose  ...        648
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

In [138]:
#Transformar o arquivo xlxs em DataFrame
CE_1996 = pd.DataFrame(Causas_esp_1996)
#CE_1996.shape
CE_1996

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:1996  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        290
4                                         Tuberculose  ...        648
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

In [139]:
#Apagar linhas 
CE_1996 = CE_1996.drop([0,1,2,68,69,70,71,72,73,74,75])
CE_1996

              Mortalidade Geral Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
3          Doencas infec intest        166        124          -        290
4                   Tuberculose        478        170          -        648
5           Infec menigocóccica         58         51          1        110
6                    Septicemia        194        185          -        379
7                          Aids       2051        721          -       2772
..                          ...        ...        ...        ...        ...
63             Demais acidentes        391        129          1        521
64                    Suicídios        378        135          -        513
65                   Homicídios       4495        357          3       4855
66  Lesões intenc indeterminada        387         59          2        448
67       Demais causas externas         34         36          -         70

[65 rows x 5 columns]

In [141]:
#Renomear Colunas
CE_1996.set_axis(['Mortalidade_Geral', 'Masculino', 'Feminino', 'Ignorado', 'Total'],
                 axis='columns', inplace=True)
#Renomear Index
ind = [np.arange(65)]
CE_1996.index = ind
CE_1996

              Mortalidade_Geral Masculino Feminino Ignorado Total
0          Doencas infec intest       166      124        -   290
1                   Tuberculose       478      170        -   648
2           Infec menigocóccica        58       51        1   110
3                    Septicemia       194      185        -   379
4                          Aids      2051      721        -  2772
..                          ...       ...      ...      ...   ...
60             Demais acidentes       391      129        1   521
61                    Suicídios       378      135        -   513
62                   Homicídios      4495      357        3  4855
63  Lesões intenc indeterminada       387       59        2   448
64       Demais causas externas        34       36        -    70

[65 rows x 5 columns]

In [142]:
#Conferindo o tipo dos dados
CE_1996.dtypes
#CE_1996.info()

Mortalidade_Geral    object
Masculino            object
Feminino             object
Ignorado             object
Total                object
dtype: object

In [143]:
#Substituir os valores '-' por 0
CE_1996 = CE_1996.replace('-',0)
print(CE_1996)

              Mortalidade_Geral  Masculino  Feminino  Ignorado  Total
0          Doencas infec intest        166       124         0    290
1                   Tuberculose        478       170         0    648
2           Infec menigocóccica         58        51         1    110
3                    Septicemia        194       185         0    379
4                          Aids       2051       721         0   2772
..                          ...        ...       ...       ...    ...
60             Demais acidentes        391       129         1    521
61                    Suicídios        378       135         0    513
62                   Homicídios       4495       357         3   4855
63  Lesões intenc indeterminada        387        59         2    448
64       Demais causas externas         34        36         0     70

[65 rows x 5 columns]

In [144]:
#Alterar o tipo de dados para inteiro
for i in CE_1996:
  if i not in 'Mortalidade_Geral':
    CE_1996[i].astype('int64')
CE_1996.dtypes

Mortalidade_Geral    object
Masculino             int64
Feminino              int64
Ignorado              int64
Total                 int64
dtype: object

In [145]:
CE_1996.describe()

         Masculino     Feminino   Ignorado        Total
count    65.000000    65.000000  65.000000    65.000000
mean    519.507692   348.830769   0.553846   868.892308
std     900.772691   601.997497   2.318612  1411.639717
min       0.000000     0.000000   0.000000    26.000000
25%      79.000000    86.000000   0.000000   251.000000
50%     218.000000   147.000000   0.000000   361.000000
75%     485.000000   311.000000   0.000000   648.000000
max    4729.000000  3587.000000  18.000000  8316.000000

In [146]:
Total_CE = pd.DataFrame(CE_1996, columns=['Mortalidade_Geral','Total', 'Ano'])
Total_CE['Ano'] = 1996
Total_CE

              Mortalidade_Geral  Total   Ano
0          Doencas infec intest    290  1996
1                   Tuberculose    648  1996
2           Infec menigocóccica    110  1996
3                    Septicemia    379  1996
4                          Aids   2772  1996
..                          ...    ...   ...
60             Demais acidentes    521  1996
61                    Suicídios    513  1996
62                   Homicídios   4855  1996
63  Lesões intenc indeterminada    448  1996
64       Demais causas externas     70  1996

[65 rows x 3 columns]

In [158]:
lin = CE_1996.loc[2]
print(lin)

     Mortalidade_Geral  Masculino  Feminino  Ignorado  Total
2  Infec menigocóccica         58        51         1    110

In [181]:
#Função do Maior Valor
def Maior_valor(df,columns='False'):
  if columns == 'Feminino':
    indx = df[columns].idxmax()
    linf = df.loc[indx]
    return print(linf)
  elif columns == 'Masculino':
    indx = df[columns].idxmax()
    linm = df.loc[indx]
    return print(linm)
  elif columns == 'Ignorado':
    indx = df[columns].idxmax()
    lini = df.loc[indx]
    return print(lini)
  elif columns == 'Total':
    indx = df[columns].idxmax()
    lint = df.loc[indx]
    return print(lint)
  else:
    indx = df['Total'].idxmax()
    lint = df.loc[indx]
    return print(lint)

Maior_valor(CE_1996)

Mortalidade_Geral    Doenças isquêmicas coração
Masculino                                  4729
Feminino                                   3587
Ignorado                                      0
Total                                      8316
Name: (32,), dtype: object