<a href="https://colab.research.google.com/github/PaolaFerrete/Mortality-Sao-Paulo/blob/main/Incidencia_1996.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Incidências das cinco principais causa de morte no município de São Paulo para os anos de 1996**

## **Importar Bibliotecas e Dados**

In [8]:
#importar bibliotecas
import pandas as pd
import numpy as np

In [9]:
#Conectar com Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Informações referente ao arquivo Total_Causas_Espcificas_1996_xlsx**

**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 1996**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [ ]:
#importar arquivo xlsx: Banco de dados de 1996
Causas_esp_1996 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_1996_xlsx.xlsx')
Causas_esp_1996 #backup

In [11]:
#Copiar DataFrame
CE_1996 = Causas_esp_1996 #backup do df

## **Manipulação dos Dados**

In [12]:
#Apagar linhas desnecessárias
CE_1996 = CE_1996.drop([0,1,2,68,69,70,71,72,73,74,75])

In [13]:
#Renomear Colunas
CE_1996.set_axis(['Mortalidade_Geral', 'Masculino', 'Feminino', 'Ignorado', 'Total'],
                 axis='columns', inplace=True)
#Renumerar Index
CE_1996.index = np.arange(65)
CE_1996

              Mortalidade_Geral Masculino Feminino Ignorado Total
0          Doencas infec intest       166      124        -   290
1                   Tuberculose       478      170        -   648
2           Infec menigocóccica        58       51        1   110
3                    Septicemia       194      185        -   379
4                          Aids      2051      721        -  2772
..                          ...       ...      ...      ...   ...
60             Demais acidentes       391      129        1   521
61                    Suicídios       378      135        -   513
62                   Homicídios      4495      357        3  4855
63  Lesões intenc indeterminada       387       59        2   448
64       Demais causas externas        34       36        -    70

[65 rows x 5 columns]

In [14]:
#Conferindo o tipo dos dados
CE_1996.dtypes

Mortalidade_Geral    object
Masculino            object
Feminino             object
Ignorado             object
Total                object
dtype: object

In [15]:
#Substituir os valores '-' por 0
CE_1996 = CE_1996.replace('-',0)
print(CE_1996)

              Mortalidade_Geral  Masculino  Feminino  Ignorado  Total
0          Doencas infec intest        166       124         0    290
1                   Tuberculose        478       170         0    648
2           Infec menigocóccica         58        51         1    110
3                    Septicemia        194       185         0    379
4                          Aids       2051       721         0   2772
..                          ...        ...       ...       ...    ...
60             Demais acidentes        391       129         1    521
61                    Suicídios        378       135         0    513
62                   Homicídios       4495       357         3   4855
63  Lesões intenc indeterminada        387        59         2    448
64       Demais causas externas         34        36         0     70

[65 rows x 5 columns]

In [16]:
#Alterar o tipo de dados para inteiro
for c in CE_1996:
  if c not in 'Mortalidade_Geral':
    CE_1996[c].astype('int64')
CE_1996.dtypes

Mortalidade_Geral    object
Masculino             int64
Feminino              int64
Ignorado              int64
Total                 int64
dtype: object

In [17]:
#Descrição dos dados
CE_1996.describe()

         Masculino     Feminino   Ignorado        Total
count    65.000000    65.000000  65.000000    65.000000
mean    519.507692   348.830769   0.553846   868.892308
std     900.772691   601.997497   2.318612  1411.639717
min       0.000000     0.000000   0.000000    26.000000
25%      79.000000    86.000000   0.000000   251.000000
50%     218.000000   147.000000   0.000000   361.000000
75%     485.000000   311.000000   0.000000   648.000000
max    4729.000000  3587.000000  18.000000  8316.000000

In [3]:
def Ordem(df, columns=False):
  '''description---------------------------------------------------------------
    Ordem(df,columns)
    -> Função para analisar as 5 maiores incidências de mortalidade geral
      :df: DataFrame
      :columns: valor opcional, caso não especificado retorna a coluna total
      :return: retorna um DataFrame com as 5 maiores incidências
      """
  ---------------------------------------------------------------------------'''    
  if columns == False:
    columns = 'Total'
  c = ['Masculino', 'Feminino', 'Total']
  for i, v in enumerate(c):
    if v == columns:
      df_v = pd.DataFrame(df, columns=['Mortalidade_Geral', v]).sort_values(by=v, ascending=False) #        
      df_v = df_v.iloc[0:5] # selecionando apenas a 5 primeiras linhas
      df_v.index = np.arange(1,6) #renomerar index
      return df_v

In [22]:
Ordem(CE_1996, 'Masculino')

            Mortalidade_Geral  Masculino
1  Doenças isquêmicas coração       4729
2                  Homicídios       4495
3        D. cerebrovasculares       2839
4                        Aids       2051
5                  Pneumonias       1912

In [23]:
Ordem(CE_1996, 'Feminino')

            Mortalidade_Geral  Feminino
1  Doenças isquêmicas coração      3587
2        D. cerebrovasculares      2788
3                  Pneumonias      1635
4           Diabetes mellitus      1218
5   Bronquite, enfisema, asma      1048

In [24]:
Ordem(CE_1996)

            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   8316
2        D. cerebrovasculares   5627
3                  Homicídios   4855
4                  Pneumonias   3548
5                        Aids   2772