<a href="https://colab.research.google.com/github/PaolaFerrete/Mortality-Sao-Paulo/blob/main/Incidencia_1996_2006_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Incidências das cinco principais causa de morte no município de São Paulo para os anos de 1996, 2006 e 2016**

In [ ]:
#importar bibliotecas
import pandas as pd
import numpy as np

In [ ]:
#Conectar com Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Informação Referente à base de dados de Causas específicas para o ano de 1996, 2006 e 2016**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 1996, 2006, 2016**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [ ]:
#importar arquivo xlsx: Banco de dados de 1996
Causas_esp_1996 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_1996_xlsx.xlsx')
Causas_esp_1996 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:1996  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        290
4                                         Tuberculose  ...        648
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

**Informação Referente à Causas_esp_2006**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 2006**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [ ]:
#importar arquivo xlsx: Banco de Dados de 2006
Causas_esp_2006 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_2006_xlsx.xlsx')
Causas_esp_2006 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:2006  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        200
4                                         Tuberculose  ...        354
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

**Informação Referente à Causas_esp_2016**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 2016**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [ ]:
#importar arquivo xlsx: Banco de Dados de 2016
Causas_esp_2016 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_2016_xlxs.xlsx')
Causas_esp_2016 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:2016  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        287
4                                         Tuberculose  ...        408
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

## **Manipulação dos Dados**

In [ ]:
#Apagar linhas desnecessárias
Causas_esp_1996 = Causas_esp_1996.drop([0,1,2,68,69,70,71,72,73,74,75])
Causas_esp_2006 = Causas_esp_2006.drop([0,1,2,68,69,70,71,72,73,74,75])
Causas_esp_2016 = Causas_esp_2016.drop([0,1,2,68,69,70,71,72,73,74,75])

In [ ]:
#Criar um novo DataFrame e Concatenar
Causas_esp = pd.DataFrame(Causas_esp_1996, columns=['Mortalidade Geral', 'Unnamed: 1', 'Unnamed: 2','Unnamed: 3', 'Unnamed: 4', 'Ano'])
Causas_esp['Ano'] = 1996
Causas_esp = Causas_esp.append(Causas_esp_2006)
Causas_esp['Ano'] = Causas_esp['Ano'].replace(np.NaN, 2006)
Causas_esp = Causas_esp.append(Causas_esp_2016)
Causas_esp['Ano'] = Causas_esp['Ano'].replace(np.NaN, 2016)
Causas_esp

              Mortalidade Geral Unnamed: 1  ... Unnamed: 4     Ano
3          Doencas infec intest        166  ...        290  1996.0
4                   Tuberculose        478  ...        648  1996.0
5           Infec menigocóccica         58  ...        110  1996.0
6                    Septicemia        194  ...        379  1996.0
7                          Aids       2051  ...       2772  1996.0
..                          ...        ...  ...        ...     ...
63             Demais acidentes        755  ...       1086  2016.0
64                    Suicídios        365  ...        461  2016.0
65                   Homicídios       1010  ...       1114  2016.0
66  Lesões intenc indeterminada        418  ...        522  2016.0
67       Demais causas externas        274  ...        350  2016.0

[195 rows x 6 columns]

In [ ]:
#Renomear Colunas
Causas_esp.set_axis(['Mortalidade_Geral', 'Masculino', 'Feminino', 'Ignorado', 'Total', 'Ano'],
                 axis='columns', inplace=True)
#Renomear Index
Causas_esp.index = np.arange(195)
Causas_esp

               Mortalidade_Geral Masculino Feminino Ignorado Total     Ano
0           Doencas infec intest       166      124        -   290  1996.0
1                    Tuberculose       478      170        -   648  1996.0
2            Infec menigocóccica        58       51        1   110  1996.0
3                     Septicemia       194      185        -   379  1996.0
4                           Aids      2051      721        -  2772  1996.0
..                           ...       ...      ...      ...   ...     ...
190             Demais acidentes       755      331        -  1086  2016.0
191                    Suicídios       365       96        -   461  2016.0
192                   Homicídios      1010      104        -  1114  2016.0
193  Lesões intenc indeterminada       418      103        1   522  2016.0
194       Demais causas externas       274       76        -   350  2016.0

[195 rows x 6 columns]

In [ ]:
#Conferindo o tipo dos dados
Causas_esp.dtypes
#Causas_esp.info()

Mortalidade_Geral     object
Masculino             object
Feminino              object
Ignorado              object
Total                 object
Ano                  float64
dtype: object

In [ ]:
#Substituir os valores '-' por 0
Causas_esp = Causas_esp.replace('-',0)
print(Causas_esp)

               Mortalidade_Geral  Masculino  Feminino  Ignorado  Total     Ano
0           Doencas infec intest        166       124         0    290  1996.0
1                    Tuberculose        478       170         0    648  1996.0
2            Infec menigocóccica         58        51         1    110  1996.0
3                     Septicemia        194       185         0    379  1996.0
4                           Aids       2051       721         0   2772  1996.0
..                           ...        ...       ...       ...    ...     ...
190             Demais acidentes        755       331         0   1086  2016.0
191                    Suicídios        365        96         0    461  2016.0
192                   Homicídios       1010       104         0   1114  2016.0
193  Lesões intenc indeterminada        418       103         1    522  2016.0
194       Demais causas externas        274        76         0    350  2016.0

[195 rows x 6 columns]

In [ ]:
#Alterar o tipo de dados para inteiro
for i in Causas_esp:
  if i not in 'Mortalidade_Geral':
    Causas_esp[i] = Causas_esp[i].astype('int64')
Causas_esp.dtypes

Mortalidade_Geral    object
Masculino             int64
Feminino              int64
Ignorado              int64
Total                 int64
Ano                   int64
dtype: object

In [ ]:
#Descrição dos dados
Causas_esp.describe()

         Masculino     Feminino    Ignorado        Total          Ano
count   195.000000   195.000000  195.000000   195.000000   195.000000
mean    504.117949   396.046154    0.266667   900.430769  2006.000000
std     829.185199   673.471383    1.399804  1440.455011     8.185982
min       0.000000     0.000000    0.000000    12.000000  1996.000000
25%      88.500000    87.500000    0.000000   241.500000  1996.000000
50%     248.000000   164.000000    0.000000   448.000000  2006.000000
75%     572.000000   347.000000    0.000000   918.500000  2016.000000
max    5434.000000  4173.000000   18.000000  9607.000000  2016.000000

In [ ]:
#Separar os Totais
Causas_esp_Totais = pd.DataFrame(Causas_esp, columns=['Mortalidade_Geral','Total', 'Ano'])
Causas_esp_Totais

               Mortalidade_Geral  Total   Ano
0           Doencas infec intest    290  1996
1                    Tuberculose    648  1996
2            Infec menigocóccica    110  1996
3                     Septicemia    379  1996
4                           Aids   2772  1996
..                           ...    ...   ...
190             Demais acidentes   1086  2016
191                    Suicídios    461  2016
192                   Homicídios   1114  2016
193  Lesões intenc indeterminada    522  2016
194       Demais causas externas    350  2016

[195 rows x 3 columns]

In [ ]:
#Selecionar atributos
ano = [1996, 2006, 2016] #lista com os anos em questão
col = ['Masculino', 'Feminino', 'Total'] # lista com o nome das colunas
df_masc_ord = pd.DataFrame #DataFrame com a informação final
for v in ano:
  df_ano = Causas_esp.loc[Causas_esp['Ano'] == v] #Filtrar por ano
  print(v)
  for i, v in enumerate(col): #Filtrar por coluna
    print(v)
    df_ord_ano = df_ano.sort_values(by=v, ascending=False) #ordemar valores
    df_sex_ano = pd.DataFrame(df_ord_ano, columns=['Mortalidade_Geral', v]).iloc[0:5] #Selecionar colunas e linhas
    df_sex_ano.index = np.arange(1,6)
    print(df_sex_ano)

1996
Masculino
            Mortalidade_Geral  Masculino
1  Doenças isquêmicas coração       4729
2                  Homicídios       4495
3        D. cerebrovasculares       2839
4                        Aids       2051
5                  Pneumonias       1912
Feminino
            Mortalidade_Geral  Feminino
1  Doenças isquêmicas coração      3587
2        D. cerebrovasculares      2788
3                  Pneumonias      1635
4           Diabetes mellitus      1218
5   Bronquite, enfisema, asma      1048
Total
            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   8316
2        D. cerebrovasculares   5627
3                  Homicídios   4855
4                  Pneumonias   3548
5                        Aids   2772
2006
Masculino
            Mortalidade_Geral  Masculino
1  Doenças isquêmicas coração       4655
2        D. cerebrovasculares       2648
3                  Homicídios       2281
4                  Pneumonias       2238
5   Bronquite, enfisema, asma       1508
Feminino
            Mortalidade_Geral  Feminino
1  Doenças isquêmicas coração      3685
2        D. cerebrovasculares      2887
3                  Pneumonias      2285
4                     CA mama      1169
5            D. hipertensivas      1149
Total
            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   8340
2        D. cerebrovasculares   5535
3                  Pneumonias   4523
4   Bronquite, enfisema, asma   2575
5                  Homicídios   2531
2016
Masculino
            Mortalidade_Geral  Masculino
1  Doenças isquêmicas coração       5434
2                  Pneumonias       3236
3        D. cerebrovasculares       2771
4   Bronquite, enfisema, asma       1530
5           Diabetes mellitus       1121
Feminino
            Mortalidade_Geral  Feminino
1  Doenças isquêmicas coração      4173
2                  Pneumonias      3273
3        D. cerebrovasculares      3124
4                     CA mama      1355
5   Bronquite, enfisema, asma      1297
Total
            Mortalidade_Geral  Total
1  Doenças isquêmicas coração   9607
2                  Pneumonias   6509
3        D. cerebrovasculares   5896
4   Bronquite, enfisema, asma   2827
5           Diabetes mellitus   2392

In [ ]:
def Filtro(year, columns):
  if year is not 1996 or 2006 or 2016:
    print('Ano inválido')
  a = year
  c = columns
  df_ano = Causas_esp.loc[Causas_esp['Ano'] == a] #Filtrar por ano
  print(a)
  df_ord_ano = df_ano.sort_values(by=c, ascending=False) #ordemar valores
  df_sex_ano = pd.DataFrame(df_ord_ano, columns=['Mortalidade_Geral', c]).iloc[0:5] #Selecionar colunas e linhas
  df_sex_ano.index = np.arange(1,6)
  print(df_sex_ano)

In [ ]:
Filtro(2016, 'Total')

NameError: ignored