<a href="https://colab.research.google.com/github/PaolaFerrete/Mortality-Sao-Paulo/blob/main/Incidencia_1996_2006_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Incidências das cinco principais causa de morte no município de São Paulo para os anos de 1996, 2006 e 2016**

In [49]:
#importar bibliotecas
import pandas as pd
import numpy as np

In [51]:
#Conectar com Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Informação Referente à Causas_esp_1996**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 1996**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [52]:
#importar arquivo xlsx: Banco de dados de 1996
Causas_esp_1996 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_1996_xlsx.xlsx')
Causas_esp_1996 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:1996  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        290
4                                         Tuberculose  ...        648
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

**Informação Referente à Causas_esp_2006**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 2006**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [53]:
#importar arquivo xlsx: Banco de Dados de 2006
Causas_esp_2006 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_2006_xlsx.xlsx')
Causas_esp_2006 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:2006  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        200
4                                         Tuberculose  ...        354
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

**Informação Referente à Causas_esp_2016**
**Mortalidade Geral**

Óbitos Residentes MSP por Causas Específicas e Sexo

**Período: 2016**

Fonte: Sistema de Informações sobre Mortalidade - SIM/PRO-AIM-CEInfo-SMS-SP

In [54]:
#importar arquivo xlsx: Banco de Dados de 2016
Causas_esp_2016 = pd.read_excel('/content/drive/MyDrive/Projetos Python/Geografia da Mortalidade /Incidencia_Causas_Especificas/Total_Causas_Especificas_2016_xlxs.xlsx')
Causas_esp_2016 #backup

                                    Mortalidade Geral  ... Unnamed: 4
0   Óbitos Residentes MSP por Causas específicas e...  ...        NaN
1                                        Período:2016  ...        NaN
2                                  Causas específicas  ...      Total
3                                Doencas infec intest  ...        287
4                                         Tuberculose  ...        408
..                                                ...  ...        ...
71                                             Notas:  ...        NaN
72  1. Para tabulações de proporções, o campo refe...  ...        NaN
73  2. Os coeficientes de mortalidade podem ser ta...  ...        NaN
74  3. Os coeficientes de mortalidade por homicídi...  ...        NaN
75  4. A partir de 2005, os óbitos por acidentes d...  ...        NaN

[76 rows x 5 columns]

## **Manipulação dos Dados**

In [55]:
#Apagar linhas desnecessárias
Causas_esp_1996 = Causas_esp_1996.drop([0,1,2,68,69,70,71,72,73,74,75])
Causas_esp_2006 = Causas_esp_2006.drop([0,1,2,68,69,70,71,72,73,74,75])
Causas_esp_2016 = Causas_esp_2016.drop([0,1,2,68,69,70,71,72,73,74,75])

In [57]:
#Criar um novo DataFrame e Concatenar
Causas_esp = pd.DataFrame(Causas_esp_1996, columns=['Mortalidade Geral', 'Unnamed: 1', 'Unnamed: 2','Unnamed: 3', 'Unnamed: 4', 'Ano'])
Causas_esp['Ano'] = 1996
Causas_esp = Causas_esp.append(Causas_esp_2006)
Causas_esp['Ano'] = Causas_esp['Ano'].replace(np.NaN, 2006)
Causas_esp = Causas_esp.append(Causas_esp_2016)
Causas_esp['Ano'] = Causas_esp['Ano'].replace(np.NaN, 2016)
Causas_esp

              Mortalidade Geral Unnamed: 1  ... Unnamed: 4   Ano
3          Doencas infec intest        166  ...        290  1996
4                   Tuberculose        478  ...        648  1996
5           Infec menigocóccica         58  ...        110  1996
6                    Septicemia        194  ...        379  1996
7                          Aids       2051  ...       2772  1996
..                          ...        ...  ...        ...   ...
63             Demais acidentes        391  ...        521  1996
64                    Suicídios        378  ...        513  1996
65                   Homicídios       4495  ...       4855  1996
66  Lesões intenc indeterminada        387  ...        448  1996
67       Demais causas externas         34  ...         70  1996

[65 rows x 6 columns]

In [60]:
#Renomear Colunas
Causas_esp.set_axis(['Mortalidade_Geral', 'Masculino', 'Feminino', 'Ignorado', 'Total', 'Ano'],
                 axis='columns', inplace=True)
#Renomear Index
Causas_esp.index = np.arange(195)
Causas_esp

               Mortalidade_Geral Masculino Feminino Ignorado Total     Ano
0           Doencas infec intest       166      124        -   290  1996.0
1                    Tuberculose       478      170        -   648  1996.0
2            Infec menigocóccica        58       51        1   110  1996.0
3                     Septicemia       194      185        -   379  1996.0
4                           Aids      2051      721        -  2772  1996.0
..                           ...       ...      ...      ...   ...     ...
190             Demais acidentes       755      331        -  1086  2016.0
191                    Suicídios       365       96        -   461  2016.0
192                   Homicídios      1010      104        -  1114  2016.0
193  Lesões intenc indeterminada       418      103        1   522  2016.0
194       Demais causas externas       274       76        -   350  2016.0

[195 rows x 6 columns]

In [67]:
#Conferindo o tipo dos dados
Causas_esp.dtypes
#Causas_esp.info()

Mortalidade_Geral     object
Masculino              int64
Feminino               int64
Ignorado               int64
Total                  int64
Ano                  float64
dtype: object

In [62]:
#Substituir os valores '-' por 0
Causas_esp = Causas_esp.replace('-',0)
print(Causas_esp)

               Mortalidade_Geral  Masculino  Feminino  Ignorado  Total     Ano
0           Doencas infec intest        166       124         0    290  1996.0
1                    Tuberculose        478       170         0    648  1996.0
2            Infec menigocóccica         58        51         1    110  1996.0
3                     Septicemia        194       185         0    379  1996.0
4                           Aids       2051       721         0   2772  1996.0
..                           ...        ...       ...       ...    ...     ...
190             Demais acidentes        755       331         0   1086  2016.0
191                    Suicídios        365        96         0    461  2016.0
192                   Homicídios       1010       104         0   1114  2016.0
193  Lesões intenc indeterminada        418       103         1    522  2016.0
194       Demais causas externas        274        76         0    350  2016.0

[195 rows x 6 columns]

In [68]:
#Alterar o tipo de dados para inteiro
for i in Causas_esp:
  if i not in 'Mortalidade_Geral':
    Causas_esp[i] = Causas_esp[i].astype('int64')
Causas_esp.dtypes

Mortalidade_Geral    object
Masculino             int64
Feminino              int64
Ignorado              int64
Total                 int64
Ano                   int64
dtype: object

In [69]:
#Descrição dos dados
Causas_esp.describe()

         Masculino     Feminino    Ignorado        Total          Ano
count   195.000000   195.000000  195.000000   195.000000   195.000000
mean    504.117949   396.046154    0.266667   900.430769  2006.000000
std     829.185199   673.471383    1.399804  1440.455011     8.185982
min       0.000000     0.000000    0.000000    12.000000  1996.000000
25%      88.500000    87.500000    0.000000   241.500000  1996.000000
50%     248.000000   164.000000    0.000000   448.000000  2006.000000
75%     572.000000   347.000000    0.000000   918.500000  2016.000000
max    5434.000000  4173.000000   18.000000  9607.000000  2016.000000

In [73]:
#Separar os Totais
Causas_esp_Totais = pd.DataFrame(Causas_esp, columns=['Mortalidade_Geral','Total', 'Ano'])
Causas_esp_Totais

               Mortalidade_Geral  Total   Ano
0           Doencas infec intest    290  1996
1                    Tuberculose    648  1996
2            Infec menigocóccica    110  1996
3                     Septicemia    379  1996
4                           Aids   2772  1996
..                           ...    ...   ...
190             Demais acidentes   1086  2016
191                    Suicídios    461  2016
192                   Homicídios   1114  2016
193  Lesões intenc indeterminada    522  2016
194       Demais causas externas    350  2016

[195 rows x 3 columns]

In [203]:
def Maior(ano='False', columns='False'):
  """Ordem(Ano,columns)
    -> Função para analisar as 5 maiores incidências de mortalidade geral
      :ano: Ano que pretende filtrar o dado
      :columns: valor opcional, caso não especificado retorna o total
      :return: retorna um DataFrame com as 5 maiores incidências
  """
  a = ano
  col = columns
  df_ano = Causas_esp.loc[Causas_esp['Ano'] == a]
  if col == 'Masculino':
    df_ord_masc = df_ano.sort_values(by='Masculino', ascending=False) #ordenar inversamente os valores da coluna 'Masculino'
    df_masc = pd.DataFrame(df_ord_masc, columns=['Mortalidade_Geral', 'Masculino', 'Total']).iloc[0:5] #Selecionar colunas e linhas
    df_masc.index = np.arange(1,6) # renumerar o index
    print(a)
    return df_masc
  elif col == 'Feminino':
    df_ord_fem = df_ano.sort_values(by='Feminino', ascending=False) 
    df_fem = pd.DataFrame(df_ord_fem, columns=['Mortalidade_Geral', 'Feminino', 'Total']).iloc[0:5] 
    df_fem.index = np.arange(1,6)
    print(a) 
    return df_fem
  elif col == 'Ignorado':
    df_ord_ign = df_ano.sort_values(by='Ignorado', ascending=False) 
    df_ign = pd.DataFrame(df_ord_ign, columns=['Mortalidade_Geral', 'Ignorado', 'Total']).iloc[0:5]
    df_ign.index = np.arange(1,6)
    print(a) 
    return df_ign
  elif columns == 'Total':
    df_ord_tot = df_ano.sort_values(by='Total', ascending=False) 
    df_tot = pd.DataFrame(df_ord_tot, columns=['Mortalidade_Geral', 'Total']).iloc[0:5]
    df_tot.index = np.arange(1,6)
    print(a) 
    return df_tot
  else:
    if col is not False:
      a = [1996, 2006, 2016]
      Totais = pd.DataFrame
    for v in a:
      df_ano = Causas_esp.loc[Causas_esp['Ano'] == v]
      df_ord_sex = df_ano.sort_values(by=col, ascending=False)
      df_sex_tot = pd.DataFrame(df_ord_sex, columns=['Ano','Mortalidade_Geral', col]).iloc[0]
      print(df_sex_tot)
    else:
      a = [1996, 2006, 2016]
      Totais = pd.DataFrame
      for v in a:
        df_ano = Causas_esp.loc[Causas_esp['Ano'] == v]
        df_ord_tot = df_ano.sort_values(by='Total', ascending=False)
        df_ano_tot = pd.DataFrame(df_ord_tot, columns=['Ano','Mortalidade_Geral','Total']).iloc[0]
        print(df_ano_tot)

In [202]:
#Chamar Def Ordem (As 5 incidências de maior valor)
Maior('Masculino')

KeyError: ignored

Ano                                        1996
Mortalidade_Geral    Doenças isquêmicas coração
Total                                      8316
Name: 32, dtype: object
Ano                                        2006
Mortalidade_Geral    Doenças isquêmicas coração
Total                                      8340
Name: 97, dtype: object
Ano                                        2016
Mortalidade_Geral    Doenças isquêmicas coração
Total                                      9607
Name: 162, dtype: object